[Unit]
Description=pipeline_manager service
After=docker.service
Requires=docker.service

[Install]
WantedBy=default.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill pipeline_manager
ExecStartPre=-/usr/bin/docker rm pipeline_manager
#ExecStartPre=/usr/bin/docker pull paulscherrerinstitute/cam_server
ExecStart=/usr/bin/docker run --name pipeline_manager --env-file /cam_server_configuration/camera_environment -v /cam_server_configuration/configuration:/configuration --net=host --ulimit core=0 paulscherrerinstitute/cam_server pipeline_manager -b /configuration/pipeline_config -g /configuration/background_config --log_level=INFO --web_server=cherrypy --client_timeout=10.0 --update_timeout=2.0 --background_files_days_to_live=356
ExecStop=/usr/bin/docker stop pipeline_manager
Restart=always