[Unit]
Description=pipeline_worker service
After=docker.service
Requires=docker.service

[Install]
WantedBy=default.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill pipeline_worker
ExecStartPre=-/usr/bin/docker rm pipeline_worker
#ExecStartPre=/usr/bin/docker pull paulscherrerinstitute/cam_server
ExecStart=/usr/bin/docker run --name pipeline_worker --env-file /cam_server_configuration/camera_environment -v /cam_server_configuration/configuration:/configuration --net=host paulscherrerinstitute/cam_server pipeline_worker -g /configuration/background_config -c http://sf-daqsync-01.psi.ch:8888 --log_level=INFO --web_server=cherrypy
ExecStop=/usr/bin/docker stop pipeline_worker
Restart=always